// breakpoint
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

// pixel 
$px10: '10px';
$px20: '20px';


// color
$textbox: rgb(232,234,236);
$header-corlor: rgb(0, 77, 255);
$search-color: #e24040;

$c-blue: rgb(0, 77, 255);
$c-white: rgb(248,249,251);
$c-darkwhite: rgb(156,161,164);

$bc-line: rgb(226, 226, 226);