@charset "utf-8";
@use './Variable/var';
@use './Styles/mixin';

@include mixin.mobile {
  .view {
    width: 100%;
  }
}

@include mixin.tablet {
  .view {
    width: 850px;
  }
}

@include mixin.desktop {
  .view {
    width: 1500px;
  }
}

.html {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  height: 100vh;
}
.body {
  height: 100vh;
  overflow: hidden;
}
.body-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.wrap {
  padding-top: 70px;
  display: flex;
  height: 100%;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var.$header-corlor;
    height: 70px;
    font-size: 12px;
    color: #fff;
    .icon-div {
      padding: 0px 30px 0px 30px;
    }
    .header-f {
      font-size: 14px;
      color:#c7c7c7;
    }
    .on {
      color: #fff !important;
    }
  }

  .container {
    &-header {
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-left: 25px;
      margin-right: 25px;
      .team-title {
        font-size: 15px;
        font-weight: bold;
      }
    }
    .top-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 85px;
      margin-left: 25px;
      margin-right: 25px;
      .search-div {
        
      }
      .btn-div {

      }
    }

    .bottom-container {
      .section {
        &-hearder {}

        &-container {
          .item {
            width: var.$px10;
          }
        }
      }
    }
  }
}

.flex-c{
  display: flex;
  flex-direction: column;
}

.search-box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: #c7c8c9 solid 1px;
  //box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 15px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: 18px;
  outline: none!important;
  cursor: pointer;
  opacity: 0.5;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 15px;

  div {
    position: relative;
    display: inline-block;
    margin: 0 1px;
    cursor: pointer;
    
    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.01;
      cursor: pointer;
    }
  }
}

.header-icon {
  font-size: 30px;
}
